* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --very-dark-purple: #583055;
  --dark-purple: #511F50;
  --light-purple: #F7F2F7;
  --acid-purple: #864678;
  --light-grey: #CBC9CC;
}


/* MAIN CONTENT */
.bg-img {
 position: absolute;
}

.main-container {
  background-image: url(../../images/bg-pattern-top-desktop.svg),
    url(../../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
}

.top-content {
  display: flex;
  height: 40vh;
  margin-bottom: 5vh;
}

/* CATCHING TEXT */
.catching-info {
  box-sizing: border-box;
  width: 30vw;
  justify-content: space-around;
  padding: 8vh 0;
}

.catching-info h1 {
  font-size: 55px;
  line-height: 0.9;
  color: var(--very-dark-purple);
}

.catching-info p {
 color : var(--light-grey);
 margin-top: 10px;
}

/* RATING */
.ratings{
  box-sizing: border-box;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8vh 0vw 8vh 5vw;
}

.rating {
  background-color: var(--light-purple);
  border-radius: 8px;
  display: flex;
  padding: 10px 20px;
  width: 25vw;
  justify-content: space-around;
}

.rating p {
  color: var(--dark-purple);
}

#rating-1 {
  align-self: flex-start;
}

#rating-2 {
  align-self: center;
}

#rating-3 {
  align-self: flex-end;
}

.stars i {
  color: goldenrod;
}


/* CLIENT ADVICE */
.clients-advice {
  display: flex;
  justify-content: space-between;
  height: 31vh;
  width: 70vw;
}

#advice-1 {
  align-self: flex-start;
}

#advice-2 {
  align-self: center;
}

#advice-3 {
  align-self: flex-end;
}

.advice {
  background-color: var(--dark-purple);
  padding: 20px 10px;
  height: 170px;
  width: 21vw;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.head-client-advice {
  display: flex;
  width: 19vw;
}

.avatar {
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.advice p {
  color: var(--light-purple);
  width: 19vw;
}

.advice h3 {
  color: var(--light-purple);
}

.client-heading p {
  color: var(--acid-purple);
}

